# .gitignore rev. 04 August 2013 by Stuart Ambler.
# Copyright (c) 2013 Stuart Ambler.
# Distributed under the Boost License in the accompanying file LICENSE.

/old/
/erlang/skewbinheap.*
/erlang/fprof.out
