# .gitignore rev. 31 July 2013 by Stuart Ambler.
# Copyright (c) 2013 Stuart Ambler.
# Distributed under the Boost License in the accompanying file LICENSE.

/old/
/c/testmmergemain
/c/checktestmmerge
/cc/testmmergemain
/cc/cppunittestmmerge
*.pdf
testdata.txt
Rout.txt
valgrindout.txt
comparetoc.txt
python/*.html
*.pyc
testtars
